ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    color: black;
}

li a:hover:not(.active) {
    color: black;
}

li a:visited:not(.active) {
    text-decoration: none;
    color: gray;
}






body {
    font-family: futura-pt;
    width: 100%;
}

header {
    width: 100%;
    text-align: left;
    padding-top: 50px;
}

header > p {
    font-family: futura-pt;
    font-size: 40px;
    /*display: inline-block;*/
}

header > nav {
    font-size: 14px;
    float: right;
    padding-top: 40px;
}

main {
    width: 100%;
    padding-top: 50px;
    text-align: center;    
}

.card {
    display: inline;
}

.card > img {
    width: 26.6%;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    header > nav {
        float: left;
    }
}


footer {
    width: 100%;
    padding-top: 150px;
}

footer > table {
    float: right;
    border-spacing: 20px;
}